@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-theme-gradient {
    background-image: linear-gradient(
      var(--gradient-angle),
      rgb(var(--color-gradient-start)),
      rgb(var(--color-gradient-middle)) var(--gradient-middle-point),
      rgb(var(--color-gradient-end))
    );
  }
}

* {
  position: relative;
  box-sizing: border-box;
}

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  @apply text-zinc-300;
}

@media (min-width: 1921px) or ((min-height: 1300px) and (min-width: 1200px)) {
  :root {
    font-size: 24px;
  }
}

@media (min-width: 2561px) {
  :root {
    font-size: 36px;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  @apply h-1 w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md bg-zinc-800;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}

@media (prefers-reduced-motion: no-preference) {
  [style*='--tag'] {
    view-transition-name: var(--tag);
  }
}
